# Google C++ style guide formatting
BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: InlineOnly
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
SortIncludes: true
BreakBeforeBraces: Attach
