---
Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: 0
AlignConsecutiveAssignments: true
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Left
