Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -2
AlignConsecutiveAssignments: true
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Left
